@use 'src/styles/vars';

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
   transform: scale(1);
   opacity: 1;
  }
}

.messages {
  padding: 2em;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;


}

.is__connected {
  height: 10px;
  width: 10px;
  background-color: rgba(197, 42, 15, 0.952);
  margin: 0.1rem;
  border-radius: 50%;
  display: inline-block;

}

.is__connected.true {
  background-color: rgba(11, 136, 7, 0.952);

}



.message {
  text-align: right;
  margin-bottom: 2rem;
  color: vars.$dark-brown;
  animation: pop 0.4s cubic-bezier(.48,1.7,.87,1);

  &__body {
    background-color: vars.$light-color;
    padding: 1.5rem;
    display: inline-block;
    border-radius: 2rem;
    max-width: 75%;
    box-shadow: 5px 2px 10px rgba(0,0,0, .1);

  }

 &__author {
    margin: 1rem;
    display: block;
    position: relative;

    &::after {
      content: "";
      margin-left: auto;
      position: absolute;
      right: 1em;
      display: block;
      width:0;
      border-bottom: 1rem solid vars.$light-color;
      border-left: 1rem solid transparent;
    }
  } 

  &__other {
    text-align: left;
    & .message__body {
      background: vars.$dark-brown;
      color: vars.$light-color;
    }
    & .message__author {
      &::after {
        left: 1em;
        right: auto;
        border-bottom-color: vars.$dark-brown;
      }
    }
  }
}
